{% extends 'layout.html' %}

{% block body %}

<div class="row text-white">
  <h1>About</h1>
  <p>“Condominios S. A. (CONDOSA)” es una empresa administradora de edificios, quintas y condominios que opera en Lima y Provincias. Tiene más de 15 años en el mercado y se autodefine como una empresa que tiene como objetivo primordial el proporcionar los más altos niveles de calidad y calidez en sus servicios, de forma tal, que hagan posible que los residentes de los Condomínios que administran,  disfruten de sus Departamentos y demás instalaciones de forma segura, cómoda, tranquila, placentera y con un mínimo de preocupaciones.</p>
</div>

{% endblock %}

